---
OAUTH_ISSUER: "https://accounts.google.com"
OAUTH_CLIENT_ID: XXXXXX
# OAUTH_DOMAIN: XXXXXX
OAUTH_CLIENT_SECRET: XXXXXX
OAUTH_CALLBACK_URL: http://localhost:3000/login/google/callback
OAUTH_LOGOUT_RETURN: http://localhost:3000/v1/auth/
OAUTH_AUDIENCE: 
APP_PORT: 3000
JWT_SECRET: "secret"
DB_TYPE: "sqlite"
DB_HOST: "localhost"
DB_PORT: 5432
PG_DB_SSL_MODE: "disable"
DB_USER: "user"
DB_PASS: "xxxxxxxxxxx"